<div class="container">
    <!-- Left side: Numbers -->
    <div class="numbers">
      <div *ngFor="let num of numbers" [ngClass]="{ 'highlight': isHighlighted(num) }">
        {{ num }}
      </div>
    </div>
  
    <!-- Right side: Buttons -->
    <div class="buttons">
      <button 
        *ngFor="let filter of filters; let i = index" 
        (click)="toggleFilter(i)"
        [ngClass]="{ 'active': filter.active }">
        {{ filter.label }}
      </button>
      <button class="clear" (click)="clearFilters()">Clear</button>
    </div>
  </div>
  